/**
 * Stylesheet for the homepage
 *	General stylesheet for Personal Website
 *	@author Arnaud Weyts <arnaud.weyts@student.odisee.be>
 *	@version 7-09-2015
 */

/**---------------------------------------------
	GENERAL
----------------------------------------------*/

/**---------------------------------------------
	CONTENT
----------------------------------------------*/


#introduction {
	width: 100%
}

h2 {
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

#introduction h2 {
	color: #2196F3;
}

p {
	font-size: 1.7rem;
	line-height: 2.5rem;
	margin-bottom: 2rem;
}

#introduction p a {
	color: #2196F3;
	text-decoration: none;
}

#projects h2 {
	color: #43A047;
}

.column {
	margin-top: 2rem;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 30%;
	float: left;
}

figure {
	margin: 0;
	margin-top: 7rem;
	position: relative;
}

.column figure img {
	display: block;
	position: relative;
	z-index: 10;
	max-width: 100%;
	height: auto;
}

figure figcaption {
	display: block;
	position: absolute;
	z-index: 5;
}

figure h3 {
	color: #FFFFFF;
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 1rem;
}

figure span {
	color: #b2cce1;
    display: block;
    line-height: 1.2;
}

figure a.close-caption {
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    font-weight: 700;
    color: #315a7d;
}

figure a.close-caption.hidden {
    display: none
}

a.close-caption {
	bottom: 1rem;
	right: 1rem;
}

figure {
	background-color: #43A047;
}

figcaption {
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2rem;
}

figure img {
	transition: all 0.3s;
}

figure:hover img, figure.hover img {
	 transform: translateY(-90px);
}


