// body styling, see main styles file
& {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f9f9fc;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 60px;
  background-color: #FFF;
  border: 1px solid #dedede;
}

.title {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

.section {
  padding: 20px 0;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  background-image: url('../img/me.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  min-width: 200px;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}

.profile-text {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    align-items: center;
    margin: 0 15px;
    width: 210px;
  }
}

.skills-item {
  display: flex;
  align-items: center;
}

.skills-item_title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  font-size: 30px;
  margin: 10px;
}

.section:not(:last-of-type) {
  border-bottom: 2px solid #dedede;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.timeline-item {
  display: flex;
}
.timeline-period {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  min-width: 120px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.timeline-data {
  display: inline-block;
  border-left: 1px solid #dedede;
  padding: 10px;
  flex-grow: 1;

  div {
    padding: 10px;
  }
}

.timeline-function {
  display: inline-block;
}

.timeline-location {
  float: right;
}

@media (max-width: 900px) {
  .timeline-location {
    display: block;
    float: none;
  }
  .profile-container {
    flex-direction: column;
  }

  .profile-image {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  body {
    padding: 20px 10px;
  }

  .container {
    padding: 30px;
  }

  .profile-list {
    justify-content: center;

    li {
      width: 250px;
    }
  }

  .timeline-item {
    display: block;
    padding: 10px 0;
  }

  .timeline-item:not(:last-of-type) {
    border-bottom: 1px solid #dedede;
  }

  .timeline-period {
    display: block;
    text-align: center;
  }

  .timeline-data {
    display: block;
    border: none;
    text-align: center;
  }
}