// imports
@import 'iconfont';
@import 'colors';
@import '404';

//font
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

// general styles
html {
	font-size: 62.5%;
}
html, body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	height: 100%;
   width: 100%;
	background-color: $color-primary;
	text-align: center;
}
.link {
	text-decoration: none;
	color: $link-color-light;
}
.material-btn {
	font-size: 2rem;
	color: $color-primary;
    border: 1px solid darken(#eaeaea, 5%);
    border-radius: 3px;
  	box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
  	background-color: #FFF;
  	padding: 1rem 2rem;
}

// actual page styles
.site-header {
	margin-bottom: 6rem;
}
.site-header__title {
	font-size: 4rem;
}
.contact {
	color: #FFF;
}
.title {
	font-size: 3rem;
}
.contactlist {
	list-style: none;
	padding: 0;
	font-size: 1.7rem;
}
.contactitem {
	display: inline-block;
	margin: 2rem;
}
.icon-contact {
	padding: 1rem;
}

// mediaqueries
@media(max-width: 70rem) {
	.contactlist {
		list-style: none;
	}
}