html {
	font-size: 62.5%;
}

body {
	font-family: Roboto;
}

#bg-vid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url("404/poster.png") no repeat;
	background-size: cover;
}

svg {
	display: block;
	margin: 0 auto;
}

p {
	text-align: center;
	color: #FFFFFF;
}

p:first-of-type {
	font-size: 5rem;
}

/*
* Material design buttons ->>>
* http://codepen.io/iraycd/pen/dHrxv
*/
.button > paper-ripple {
	border-radius: 2px;
	overflow: hidden;
}

.center {
	text-align: center;
	
}

.button {
	display: block;
	position: relative;
	border-radius: 2px;
	height: 5rem;
	line-height: 5rem;
	background-color: #2196F3;
  	color: #fff;
  	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	font-size: 1.7rem;
	width: 12rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
}

.button.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

#controls {
	margin: 0 auto;
	width: 15rem;
}

.vidbutton {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 10rem;
	font-size: 6rem;
	float: left;
	color: #FFFFFF;
}

#inspiredby {
	float: none;
	clear: both;
	font-size: 1.4rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-left: -1rem;
}

#inspiredby a {
	text-decoration: none;
	color: #2196F3;
}