doctype html
html
  head
    title 404
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='assets/404/404.css')
    link(rel='shortcut icon', href='//weyts.xyz/favicon.ico')
    link(rel='stylesheet', href='assets/css/styles.css')
    link(rel='import', href='https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html')
  body
    svg(style='width:254px;height:254px', viewbox='0 0 24 24')
      path(fill='#FFFFFF', d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z')
    video#bg-vid(autoplay='', loop='', poster='assets/404/poster.png', muted='')
      source(src='assets/404/meme.mp4', type='video/mp4')
      source(src='assets/404/meme.ogg', type='video/ogg')
    p#look Look at this 404
    a#goBack.button.raised(href='javascript:void(0)', onclick='goBack()')
      .center(fit='') GO BACK
      paper-ripple(fit='')
    #controls
      a#toggleVid.vidbutton(onclick='toggleVid()', href='javascript:void(0)')
        i.fa.fa-pause-circle
      a#toggleSound.vidbutton(onclick='toggleSound()', href='javascript:void(0)')
        i.fa.fa-volume-off
    footer#inspiredby
      p
        | Inspired by:
        a(href='https://haroen.me/404') haroen.me
    script.
      var vid = document.getElementById('bg-vid');
      var toggleVidButton = document.getElementById('toggleVid');
      var toggleSoundButton = document.getElementById('toggleSound');
      function goBack() {
      setTimeout(function() {
      window.location.assign('https://weyts.xyz');
      }, 200)
      };
      function toggleVid() {
      if (vid.paused) {
      toggleVidButton.firstChild.setAttribute('class', 'fa fa-pause-circle');
      vid.play();
      }
      else {
      toggleVidButton.firstChild.setAttribute('class', 'fa fa-play-circle');
      vid.pause();
      }
      };
      function toggleSound() {
      if (vid.muted == true) {
      toggleSoundButton.firstChild.setAttribute('class', 'fa fa-volume-up');
      vid.muted = false;
      }
      else {
      toggleSoundButton.firstChild.setAttribute('class', 'fa fa-volume-off');
      vid.muted = true;
      }
      };
