doctype html
//
  Personal Website Homepage
  @author Arnaud Weyts (arnaud.weyts@student.odisee.be)
  @version 6-03-15
html(lang="en")
  head
    title Home &middot; Arnaud Weyts
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico")
    //link(rel="stylesheet", href="assets/css/font-awesome.min.css")
    link(rel="stylesheet", href="/node_modules/material-design-lite/material.min.css")
    script(src="/node_modules/material-design-lite/material.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //link(rel="stylesheet", href="assets/css/styles.css")
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Arnaud Weyts
          .mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
      .mdl-layout__drawer
        span.mdl-layout-title Arnaud Weyts
        nav.mdl-navigation
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
      main.mdl-layout__content
        .page-content
          

